MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
GOOGLE_IOS_CLIENT_ID=YOUR_CO_WAYBI_IOS_CLIENT_ID.apps.googleusercontent.com
GOOGLE_SERVER_CLIENT_ID=858928595374-ht0e455sfe58a2cfgovjka7t40cku2ss.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.YOUR_CO_WAYBI_IOS_CLIENT_ID
